/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: hotpink;
$--color-board: #DCB35C;


/* icon font path, required */
$--font-path: '~element-plus/lib/theme-chalk/fonts';
$--font-size: 14px;

body {
    margin: 0;
}

@import "~element-plus/packages/theme-chalk/src/index";
